<p-toast position="top-right"></p-toast>
<div class="container-fluid mt-2" style="height: 100%;">
  <div class="row">
    <div class="col-lg-4 offset-lg-1 mt-1" style="padding-bottom: 15px;">
      <a routerLink="/auth/login">
        <img src="assets/images/logo/New_Logo.png" alt="brand-logo" height="80px" width="auto" class="mb-5" /><br>
      </a>
      <span class="login">Login</span>
      <form class="mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label" for="login-email">Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="admin@demo.com"
            aria-describedby="login-email" autofocus="" tabindex="1" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="login-password">Password</label>
          </div>
          <div class="input-group input-group-merge form-password-toggle">
            <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
              class="form-control form-control-merge" [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
              placeholder="············" aria-describedby="login-password" tabindex="2" />
          
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer">
                <i class="fa " [ngClass]="!passwordTextType ? 'fa-eye': 'fa-eye-slash'" width="16" height="16"
                  (click)="togglePasswordTextType()"
                ></i>
              </span>
            </div>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
            [ngClass]="{ 'd-block': submitted && f.password.errors }">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
            <label class="custom-control-label" for="remember-me"> Remember Me</label>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary d-block w-100" tabindex="4" rippleEffect>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign in
        </button>
      </form>
    </div>

  </div>
  <div class="kanan  d-none d-md-block">
    <img class="img-fluid" src='assets/images/svg/login.svg' alt="SIPMA Mandiri" height="auto" width="auto" />
  </div>
</div>