@import "../../../../custom.scss";

.nav-tabs .nav-link {
  border: 0px !important;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.nav-tabs .nav-link.active {
  border-bottom: 2px solid $primaryColor !important;
  color: $primaryColor;
  font-weight: bold;
  font-family: $font;
}
thead > tr > td {
  font-weight: bold;
}
.dropdown-menu {
  max-height: 120px;
  overflow-y: auto;
  min-width: 100% !important;
}
/* width */
.dropdown-menu::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
  background: trasnsparent;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #114a97;
}
::ng-deep .p-inputtext {
  padding: 6px !important;
}
