<p-toast position="top-right"></p-toast>
<!-- Menggunakan Teknik Query Params -->
<ng-container *ngIf="(create || detail); else list">
    <ng-container *ngIf="create">
        <section create></section>
    </ng-container>

    <ng-container *ngIf="detail">
        <section detail></section>
    </ng-container>
</ng-container>

<ng-template #list>
    <section list></section>
</ng-template>