// style

:root {
    scroll-behavior: smooth;
}

.body-lp {
    font-family: "Nunito", sans-serif;
    color: #38454D;
    background-color: #F3F6F8;
}

.mat-typography h1{
    font: inherit !important;
}
.landing-page-nav {
    left: calc(0% + 40px) !important;
}


@media(max-width:1199px) {
    .list-nav-lp {
        display: none !important;
    }

    .margin-top-min-2 {
        margin-top: 0px;
    }

}

.hero-lp {
    width: 100%;
    height: 120vh;
    background: url(/assets/app-assets/images/landing-page/bg-section-new.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media (min-width:1199px) {
    .horizontal-menu-wrapper {
        display: none !important;
    }

    .margin-top-min {
        margin-top: -72px;
    }

    .margin-top-min-2 {
        margin-top: -172px;
    }

    .margin-top-min-3 {
        margin-top: -96px;
    }

    .nav-logo-landing-page {
        margin-left: auto !important;
    }
}

.row-landing-page {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.99);
    margin-left: calc(var(--bs-gutter-x) * -.99);
}

@media(max-width:576px) {
    .container {
        max-width: 100% !important;
    }

    .text-hero-lp {
        text-align: center;
    }

    .hero-lp {
        height: auto;
        padding: 160px 24px 120px 24px;
        background: linear-gradient(124.8deg, #114A97 40.61%, #003D8F 81.43%);
    }

    .hero-lp h1 {
        font-size: 56px !important;
    }

    .hero-lp h2 {
        font-size: 20px !important;
    }

    .btn-primary-nav-lp {
        background-color: #013289 !important;
        border: 1px solid #FFFFFF !important;
        text-align: center;
        color: #FFF !important;
    }

}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.section-header-lp {
    text-align: center;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}


.section-header-lp-white {
    text-align: center;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-header-lp h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header-lp p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #38454D;
}

@media (max-width: 768px) {
    .section-header-lp p {
        font-size: 28px;
        line-height: 32px;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.data-center-wrapper {
    width: 100%;
    height: 160vh;
    background: url(/assets/app-assets/images/landing-page/bg-data-center.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/

.values .box-lp {
    padding: 30px;
    box-shadow: 0px 0 12px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.values .box-lp img {
    padding: 30px 4px;
    transition: 0.5s;
    transform: scale(1.1);
}

.section-header-lp h1 {
    font-size: 40px;
    color: #38454D;

}

.section-header-lp h5 {
    font-size: 18px;
    line-height: 140%;
}

.values .box-lp h3 {
    font-size: 24px;
    color: #38454D;
    font-weight: 700;
    margin-bottom: 18px;
}

.values .box-lp:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box-lp:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .feature-box-lp {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box-lp h3 {
    font-size: 18px;
    color: #38454D;
    font-weight: 700;
    margin: 0;
}

.features .feature-box-lp i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box-lp:hover i {
    background: #4154f1;
    color: #fff;
}

.features .feture-tabs {
    margin-top: 120px;
}

.features .feture-tabs h3 {
    color: #38454D;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 28px;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #38454D;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
}

.features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #38454D;
}

.features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #38454D;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
}

.features .feature-icons .content .icon-box-lp {
    display: flex;
}

.features .feature-icons .content .icon-box-lp h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #38454D;
}

.features .feature-icons .content .icon-box-lp i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box-lp p {
    font-size: 15px;
    color: #848484;
}

.features .section-header-lp {
    margin-top: 124px;
}

.values .section-header-lp {
    margin-top: 96px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .service-box-lp {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.services .service-box-lp .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}

.services .service-box-lp h3 {
    color: #444444;
    font-weight: 700;
}

.box-lp-service p {
    font-size: 17px;
}

.box-lp-values p {
    font-size: 18px;

}

.services .service-box-lp .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
}

.services .service-box-lp .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.services .service-box-lp.blue {
    border-bottom: 3px solid #2db6fa;
}

.services .service-box-lp.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.services .service-box-lp.blue .read-more {
    color: #2db6fa;
}

.services .service-box-lp.blue:hover {
    background: #2db6fa;
}

.services .service-box-lp.orange {
    border-bottom: 3px solid #f68c09;
}

.services .service-box-lp.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.services .service-box-lp.orange .read-more {
    color: #f68c09;
}

.services .service-box-lp.orange:hover {
    background: #f68c09;
}

.services .service-box-lp.green {
    border-bottom: 3px solid #08da4e;
}

.services .service-box-lp.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.services .service-box-lp.green .read-more {
    color: #08da4e;
}

.services .service-box-lp.green:hover {
    background: #08da4e;
}

.services .service-box-lp.red {
    border-bottom: 3px solid #e9222c;
}

.services .service-box-lp.red .icon {
    color: #e9222c;
    background: #fef7f8;
}

.services .service-box-lp.red .read-more {
    color: #e9222c;
}

.services .service-box-lp.red:hover {
    background: #e9222c;
}

.services .service-box-lp.purple {
    border-bottom: 3px solid #b50edf;
}

.services .service-box-lp.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
}

.services .service-box-lp.purple .read-more {
    color: #b50edf;
}

.services .service-box-lp.purple:hover {
    background: #b50edf;
}

.services .service-box-lp.pink {
    border-bottom: 3px solid #f51f9c;
}

.services .service-box-lp.pink .icon {
    color: #f51f9c;
    background: #feecf7;
}

.services .service-box-lp.pink .read-more {
    color: #f51f9c;
}

.services .service-box-lp.pink:hover {
    background: #f51f9c;
}

.services .service-box-lp:hover h3,
.services .service-box-lp:hover p,
.services .service-box-lp:hover .read-more {
    color: #fff;
}

.services .service-box-lp:hover .icon {
    background: #fff;
}


/*--------------------------------------------------------------
# Pricing-lp
--------------------------------------------------------------*/

.pricing-lp .box-lp {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.box-lp-pricing {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

/* .pricing-lp .box-lp:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
} */

.pricing-lp h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.pricing-lp .price {
    font-size: 36px;
    color: #08296C;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.pricing-lp .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing-lp .price span {
    color: #0D3982;
    font-size: 16px;
    font-weight: 300;
}

.pricing-lp .sub-price {
    font-size: 18px;
    color: #444444;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.pricing-lp .sub-price sup {
    font-size: 16px;
    top: -15px;
    left: -3px;
}

.pricing-lp .sub-price span {
    color: #bababa;
    font-size: 12px;
    font-weight: 300;
}

.pricing-lp img {
    padding: 30px 40px;
}

.pricing-lp ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.pricing-lp ul li {
    padding-bottom: 10px;
}

.pricing-lp ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing-lp .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #114A97;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #114A97;
}

.pricing-lp .btn-buy:hover {
    background: #114A97;
    color: #fff;
    transform: scale(1.2);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.pricing-lp .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #114A97;
    color: #fff;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-lp .info-box-lp {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.contact-lp .info-box-lp i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.contact-lp .info-box-lp h3 {
    font-size: 20px;
    color: #38454D;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact-lp .info-box-lp p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact-lp .php-email-form {
    background: #fff;
    padding: 30px;
    height: 100%;
    border-radius: 24px;
}

.contact-lp .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact-lp .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact-lp .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact-lp .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact-lp .php-email-form input,
.contact-lp .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.contact-lp .php-email-form input:focus,
.contact-lp .php-email-form textarea:focus {
    border-color: #4154f1;
}

.contact-lp .php-email-form input {
    padding: 10px 15px;
}

.contact-lp .php-email-form input[type="checkbox"] {
    padding: 0px;
}

.contact-lp .php-email-form textarea {
    padding: 12px 15px;
}

.contact-lp .php-email-form button[type=submit] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact-lp .php-email-form button[type=submit]:hover {
    background: #5969f3;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-lp {
    /* background: #f6f9ff; */
    padding: 100px 0 30px 0;
    font-size: 14px;
    /* width: 100%; */
    /* height: 120vh; */
    color: #fff;
    background: url(/assets/app-assets/images/landing-page/bg-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-lp .footer-lp-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
}

.footer-lp .footer-lp-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

.footer-lp .footer-lp-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}

.footer-lp .footer-lp-newsletter form input[type=email] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.footer-lp .footer-lp-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #4154f1;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

.footer-lp .footer-lp-newsletter form input[type=submit]:hover {
    background: #5969f3;
}

.footer-lp .footer-lp-top {
    /* background: white url(../img/footer-bg.png) no-repeat right top; */
    background-size: contain;
    /* border-top: 1px solid #e1ecff; */
    /* border-bottom: 1px solid #e1ecff; */
    padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
    .footer-lp .footer-lp-top {
        background-position: center bottom;
    }
}

.footer-lp .footer-lp-top .footer-lp-info {
    margin-bottom: 30px;
}

.footer-lp .footer-lp-top .footer-lp-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer-lp .footer-lp-top .footer-lp-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer-lp .footer-lp-top .footer-lp-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #38454D;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer-lp .footer-lp-top .footer-lp-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer-lp .footer-lp-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer-lp .footer-lp-top .social-links a:hover {
    color: #FFF;
}

.footer-lp .footer-lp-top h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer-lp .footer-lp-top .footer-lp-links {
    margin-bottom: 30px;
}

.footer-lp .footer-lp-top .footer-lp-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-lp .footer-lp-top .footer-lp-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}

.footer-lp .footer-lp-top .footer-lp-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-lp .footer-lp-top .footer-lp-links ul li:first-child {
    padding-top: 0;
}

.footer-lp .footer-lp-top .footer-lp-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer-lp .footer-lp-top .footer-lp-links ul a:hover {
    color: #F2C33E;
}

.footer-lp .footer-lp-top .footer-lp-contact p {
    line-height: 26px;
}

.footer-lp .copyright {
    text-align: center;
    padding-top: 30px;
    /* border-top: 1px solid #e1ecff; */
}

.footer-lp .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #38454D;
}

.black-70 {
    color: #637A88 !important;
}

.black-80 {
    color: #4D5F6A !important;
}

.black-90 {
    color: #38454D !important;
}

.title-border:after {
    border-bottom: 3.5px solid #114A97;
    content: "";
    display: block;
    padding-top: 12px;
    width: 25%;
    border-radius: 2px;
}

.title-border-mini:after {
    border-bottom: 3.5px solid #114A97;
    content: "";
    display: block;
    padding-top: 8px;
    width: 12.5%;
    border-radius: 2px;
}

.box-lp-service {
    padding: 0px 16px;
}

@media(min-width:1024px) {
    #hero-lp h1 {
        margin-top: -72px;
    }

    .form-price {
        padding-left: 84px;
    }

    #data-center header {
        margin-top: 72px;
    }

    .data-center-list {
        display: none;
    }
}

@media(max-width:992px) {
    #data-center header {
        margin-top: 112px;
    }

}

.fa-info-circle {
    color: #637A88 !important;
}

.btn-primary-lp {
    background-color: #013289 !important;
    border: 1px solid #FFFFFF !important;
    text-align: center;
    color: #FFF !important;
}

.btn-primary-nav-lp:hover,
.btn-primary-nav-lp:active {
    background-color: transparent !important;
    border-color: #0d3f81 !important;
    border: 1px solid #FFFFFF !important;
}

.btn-primary-submit-lp:hover,
.btn-primary-submit-lp:active {
    background-color: #012a70 !important;
    border-color: #012a70 !important;
    border: 1px solid #FFFFFF !important;
}

.box-lp-pricing .box-lp-promo {
    padding: 40px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

@media(min-width:992px) {
    .btn-primary-nav-lp {
        background-color: transparent !important;
        border: 1px solid #FFFFFF !important;
        text-align: center;
        color: #FFF !important;
    }

    .pricing-lp .box-lp-promo {
        padding: 40px 20px;
        background: #fff;
        text-align: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        border: 3px solid #114A97;
        transform: scale(1.1) !important;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1) !important;
    }

    /* .box-lp-pricing:hover {
        padding: 40px 20px;
        background: #fff;
        text-align: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        border: 3px solid #114A97;
        transform: scale(1.1) !important;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1) !important;
    } */
}


.data-center-map {
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1024px) {
    .data-center-map {
        display: none;
    }
}



.fa-circle {
    color: #F2C33E !important;

}

.c-cikarang {
    position: absolute;
    left: 26.7%;
    top: 70%;
}

.mark-cikarang {
    background-color: rgba(242, 195, 63, 0.5);
    border-radius: 50%;
    height: 50px;
    left: 25.3%;
    position: absolute;
    top: 67%;
    width: 50px;
    animation: markPulse 3s ease-out infinite;
    opacity: 1;
    -webkit-animation: markPulse 3s ease-out infinite;
}

@keyframes markPulse {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }

    50% {
        opacity: 1;
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0, 0);
    }
}

.popover {
    background: #FFD662;

}

.popover-content {
    background-color: #FFFFFF;
}

.data-center-list .box-lp {
    padding: 16px;
    box-shadow: 0px 0 12px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.data-center-list .box-lp img {
    padding: 12px 4px;
    transition: 0.5s;
    transform: scale(1.1);
}

.data-center-list .box-lp h3 {
    font-size: 24px;
    color: #38454D;
    font-weight: 700;
    margin-bottom: 18px;
}

.data-center-list .box-lp:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.data-center-list .box-lp:hover img {
    transform: scale(1);
}

.line-footer-lp a {
    display: flex;
    align-items: center;
}

.line-footer-lp a:before,
.line-footer-lp a:after {
    flex: 1;
    content: '';
    height: 1px;
    background: #e1ecff;
}

.btn-hero-lp {
    background: #F2C33E !important;
    border-color: #F2C33E !important;
}

.btn-hero-lp:hover {
    background: #F2C33E !important;
    border-color: #F2C33E !important;
}

.fw-bolder {
    font-weight: bolder !important;
}

.fw-bold {
    font-weight: bold !important;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-min-4 {
    margin-top: -24px;

}

.padding-nav-landing-page {
    padding: 0.786rem 1.5rem !important;
}

.form-check-input:checked {
    background-color: #013289 !important;
    border-color: #013289 !important;
}

.horizontal-menu .header-lp-navbar {
    background: transparent !important;
    position: absolute !important;
}

.header-lp-navbar .navbar-container ul.navbar-nav li>a.nav-link {
    color: #fff !important;
}

.horizontal-layout .header-lp-navbar {
    background: transparent !important;
    position: absolute !important;
}

.header-lp-navbar .navbar-container ul.navbar-nav li svg.ficon {
    color: #fff !important;
}

@media(min-width:576px) {
    .text-lg-white {
        color: #FFF !important;
    }

    .btn-primary-lp {
        background-color: transparent !important;
        border: 1px solid #FFFFFF !important;
        text-align: center;
        color: #FFF !important;
    }
}

.btn-primary-submit-lp {
    background-color: #013289 !important;
    border: 1px solid #FFFFFF !important;
    text-align: center;
    color: #FFF !important;
}

.text-white {
    color: #FFF !important;
}



// navbar
.nav-lp {
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 99;
    padding: 1rem;

}

@media (min-width:600px) {
    .nav-title-white {
        color: #FFFFFF !important;
    }
}

.nav-lp>.nav-header-lp {
    display: inline;
}

.nav-lp>.nav-header-lp>.nav-title-lp {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav-lp>.nav-btn-lp {
    display: none;
}

.nav-lp>.nav-links-lp {
    display: inline;
    float: right;
    font-size: 16px;
}

.nav-lp>.nav-links-lp>a {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: #efefef;
    color: #38454D;
}

.nav-lp>.nav-links-lp>a:hover {
    color: #F2C33E !important;
}

.nav-lp>#nav-check-lp {
    display: none;
}

@media (max-width:600px) {
    .nav-lp>.nav-btn-lp {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 1rem 1rem 0 0;
    }

    .nav-lp>.nav-btn-lp>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav-lp>.nav-btn-lp>label:hover,
    .nav #nav-check-lp:checked~.nav-btn-lp>label {
        color: #F2C33E;
    }

    .nav-lp>.nav-btn-lp>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav-lp>.nav-links-lp {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #F3F6F8;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        left: 0px;
        z-index: 99;
        text-align: center;

    }

    .nav-lp>.nav-links-lp>a {
        display: block;
        width: 100%;
    }

    .nav-lp>#nav-check-lp:not(:checked)~.nav-links-lp {
        height: 0px;
    }

    .nav-lp>#nav-check-lp:checked~.nav-links-lp {
        height: calc(87vh - 50px);
        overflow-y: auto;
    }

}

@media(min-width:600px) {
    .nav-lp {
        padding: 0 4rem 0 4rem;
    }
}

.nav-btn-lp:hover {
    cursor: pointer;
}

.nav-links-lp a:hover {
    color: #FFF !important;
}

