@import "../../../../custom.scss";
.loader-wrapper.loderhide {
  display: none;
}
@media screen and (max-width: $small) {
  .img-preloader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-mobile {
    width: 300px;
    height: auto;
  }
}
@media screen and (min-width: $large) {
  .img-preloader {
    position: absolute;
    top: 28%;
    left: 41%;
  }
}
