<!-- Loader starts-->
<div class="loader-wrapper" [class.loderhide]="!show">
  <div class="row">
    <div class="col-lg-12">
      <div class="loader-box"><div class="loader-37"></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 img-preloader" >
      <img src="assets/images/logo/New_Logo.png" alt="Bank Mandiri" class="img-mobile">
    </div>
  </div>
  
  <!-- <svg>
    <defs></defs>
    <filter id="goo">
      <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
      <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
    </filter>
  </svg> -->
</div>
<!-- Loader ends-->